<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="client" class="com.wolfcoder.earpc.ClientProxyFactory">
        <property name="appkey" value="com.wolfcoder.earpc"/>
        <property name="serviceInterface" value="com.wolfcoder.earpc.configserver.HelloService"/>
        <property name="timeout" value="200"/>
        <property name="version" value="1.0.0"/>
        <property name="remoteServerPort" value="localhost:10888"/>
        <property name="loadBalance" ref="roundRobinLoadBalance"/>
    </bean>
    <bean id="roundRobinLoadBalance" class="com.wolfcoder.earpc.loadblance.RoundRobinLoadBalance"/>
</beans>